---

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Callum Finlayson</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/{{ page.css }}.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML"></script>
</head>
<body>
	<header>
		<div>
			<div>
				<h1 class="callum">callum</h1><h1 class="finlayson">finlayson</h1>
			</div>
			<div>
				<h2>&#x3C;title&#x3E;{{ page.title }}&#x3C;/title&#x3E;</h2>
			</div>
		</div>
	</header>
	<nav>
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/blog">blog</a></li>
			<li><a href="/contact">contact</a></li>
			<li><a href="/cv">cv</a></li>
		</ul>
	</nav>
	{{ content }}
</body>